.recomentation {
  .content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: #f5f5f5;
  }

  .item {
    padding: 110px 0;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 320px;
    h4 {
      background-color: #191818b5;
      padding: 30px;
    }
  }
  .item1{
    background-image: url("../../../../public/images/arequipa.jpg");
  }
  .item2{
    background-image: url("../../../../public/images/colca.jpg");
  }
  .item3{
    background-image: url("../../../../public/images/tm_peru.jpg");
  }
  .more {
    background: #c4c4c4;
    width: 196px;
    display: block;
    height: 41px;
    line-height: 41px;
    font-size: 15px;
    color: #000000 !important;
    margin: 0 auto;
  }
}
